@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-lato;
}
@layer components {
  .link {
    @apply px-4 text-white text-xl_d font-extralight transition-all;
    &:focus,
    &:active {
      @apply text-white font-normal transition-all;
    }
    &:hover {
      text-shadow: 2px 2px $green;
      @apply text-white font-light  transition-all;
    }
  }
}
@layer utilities {
  .dark-mode-bg {
    @apply bg-black dark:bg-white;
  }
  .dark-mode-cricadev {
    background-image: url("/assets/images/darkMode-cricadev.png");
  }
  .light-mode-cricadev {
    background-image: url("/assets/images/lightMode-cricadev.png");
  }
}
